spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT:6379}

app:
  supabase:
    url: ${SUPABASE_URL}
  cors:
    allowed-origins: ${CORS_ALLOWED_ORIGINS}
  jikan:
    base-url: ${JIKAN_BASE_URL:https://api.jikan.moe/v4}

logging:
  level:
    root: WARN
    com.anirec: INFO
